[submodule "lib/motor_manager"]
    path = lib/motor_manager
    url = git@github.com:minimirror1/motor_manager.git
    branch = main

[submodule "lib/robot_manager"]
    path = lib/robot_manager
    url = git@github.com:minimirror1/robot_manager.git
    branch = main

[submodule "ros2/playstation_joy_interface_ros2"]
    path = ros2/playstation_joy_interface_ros2
    url = git@github.com:minimirror1/playstation_joy_interface_ros2.git
    branch = humble

[submodule "ros2/xtouch_midi_ros2"]
    path = ros2/xtouch_midi_ros2
    url = git@github.com:minimirror1/xtouch_midi_ros2.git
    branch = main